.space{
  margin-left: 5px;
}
mat-card{
    margin: 6% 20% 10% 15%;
}

.ng-valid:not(form)  {
    border-left: 5px solid #42A948; 
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; 
 }
 
  