<span [routerLink]="['/dashboard/teacherdashboard']" routerLinkActive="router-link-active" class="material-icons size" >arrow_back</span>
<form [formGroup]="teacherForm" (ngSubmit)="createTeacher()" novalidate>
    <div class="sp">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputtext">First Name</label>
        <input type="text" formControlName="firstname" value="" class="form-control" id="inputtext" placeholder="First Name">
      <div *ngIf="firstname.invalid && firstname.touched" class="alert alert-danger">
          First Name is required.
      </div>
    </div>
      <div class="form-group col-md-4">
        <label for="inputlastname">Last Name</label>
        <input type="text" formControlName="lastname" value="" class="form-control" id="inputlastname" placeholder="Last Name"  >
         <div *ngIf="lastname.invalid && lastname.touched" class="alert alert-danger">
          Last Name is required.
      </div>
      </div>
      
    </div>
    <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputemail">Email</label>
      <input type="email" formControlName="email" value="" class="form-control" id="inputemail" placeholder="example@email.com" >
      <div *ngIf="email.invalid && email.touched"
      class="alert alert-danger">
   <div *ngIf="email.errors.required">
     email is required.
   </div>
   <div *ngIf="email.errors?.email">
     email should be in correct format
   </div>
  </div>
    </div>
    <div class="form-group col-md-4">
      <label for="inputage">Age</label>
      <input type="number" formControlName="age" value="" class="form-control" id="inputage" placeholder="years" >
      <div *ngIf="age.invalid && age.touched" class="alert alert-danger">
        Age is required.
    </div>
    </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputexp">Experience</label>
        <input type="number" formControlName="experience" value="" class="form-control" id="inputexp" placeholder="years" >
        <div *ngIf="experience.invalid && experience.touched" class="alert alert-danger">
          Experience is required.
      </div>
      </div>
      <div class="form-group col-md-4">
        <label for="inputphone">Phone number</label>
        <input  formControlName="phone" value="" class="form-control" id="inputphone"  placeholder="817****885" >
        <div *ngIf="phone.invalid && phone.touched"
        class="alert alert-danger">
     <div *ngIf="phone.errors.required">
       phone number is required.
     </div>
     <div *ngIf="phone.errors.pattern">
       Phone number should be 10 numbers
     </div>
    </div>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
          <label for="inputqual">Qualification</label>
          <input type="text" formControlName="qualification" value="" class="form-control" id="inputqual"g placeholder="Degree">
          <div *ngIf="qualification.invalid && qualification.touched" class="alert alert-danger">
            Qualification is required.
        </div>
        </div>
        <div class="form-group col-md-4">
          <label for="inputteach">Teaching Subject</label>
          <input type="text" formControlName="subjects" value="" class="form-control" id="inputteach" placeholder="Maths">
          <div *ngIf="subjects.invalid && subjects.touched" class="alert alert-danger">
            Subject is required.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <mat-form-field>
            <mat-label>Standard</mat-label>
            <mat-select formControlName="standard">
              <mat-option *ngFor="let item of Standard"  [value]="item.viewValue">
                {{item.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      <div class="form-group col-md-4">
          <mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option *ngFor="let item of Gender" [value]="item.viewValue">
                {{item.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
        <br><br>
    <button  type="submit" class="btn btn-primary" [disabled]="teacherForm.invalid">{{btnName}}</button>
    
</div>
</form>
